/*custom style starts*/

body {
	font-family: 'Lato',sans-serif;
}
.section-heading {
	color: #002f7b;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 800;
    text-align: center;
    font-family: 'Lato',sans-serif;
    letter-spacing: 2px;
}
.custom-jumbotron {
	background-color: #fff;
}
.cart-table {
	font-family: 'Lato',sans-serif;
    tbody {
        tr {
            td {
                font-size: 15px;
                font-weight: 800;
                color: #333;
                text-transform: uppercase;
                letter-spacing: 3px;
                border: 0;
                padding-top: 6px;
                padding-bottom: 6px;
                img {
                    width: 100px;
                }
            }
            td.right-side-info {
                color: #aaa;
                text-align: right;
                font-weight: 600;
                letter-spacing: 1px;
            }
            td:first-child {
                width: 130px;
            }
            td:last-child {
                width: 10px;
            }
        }
        tr:first-child {
            td {
               padding-bottom: 18px; 
            }
        }
    }
    tfoot {
        tr {
            td {
                font-size: 15px;
                font-weight: 800;
                color: #333;
                text-transform: uppercase;
                letter-spacing: 3px;
            }
            td.right-side-info {
                color: #aaa;
                text-align: right;
                font-weight: 600;
                letter-spacing: 1px;
            }
        }
    }
}
.product-description {
    h6 {
    	font-size: 15px;
    	letter-spacing: 1px;
    	color: #002f7b;
    	text-transform: capitalize;
    	font-weight: 900;
    }
    p {
        color: #aaa;
        letter-spacing: 1px;
        text-transform: capitalize;
        font-weight: 400;
        margin-top: -5px;
        margin-bottom: 10px;
    }
}
.remove-product,
.remove-product:focus,
.remove-product:hover,
.remove-product:active {
    color: #bbb;
    font-weight: 400;
    font-size: 29px;
    float: right;
    text-decoration: none;
    position: relative;
    top: -12px;
}
.right-side-info {
	color: #aaa;
    text-align: right;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 15px;
}
.custom-input-group {
	width: 120px;
    input {
        border: none;
        text-align: center;
    }
    input:focus {
        box-shadow: 0 0 0;
        border: 0;
    }
    .input-group-prepend {
        .input-group-text {
            background-color: #f1f1f1;
            width: 30px;
            height: 30px;
            border-radius: 100%;
            padding: 0px;
            text-align: center;
            display: inline-block;
            font-weight: 700;
            font-size: 18px;
            border-color: #eee;
            margin-top: 4px;
        }
    }
    .input-group-append {
        .input-group-text {
            background-color: #f1f1f1;
            width: 30px;
            height: 30px;
            border-radius: 100%;
            padding: 0px;
            text-align: center;
            display: inline-block;
            font-weight: 700;
            font-size: 18px;
            border-color: #eee;
            margin-top: 4px;
        }
    }
}
.custom-input-group input[type=number]::-webkit-inner-spin-button, 
.custom-input-group input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
.custom-input-group .input-group-prepend .input-group-text a,
.custom-input-group .input-group-prepend .input-group-text a:hover,
.custom-input-group .input-group-prepend .input-group-text a:active,
.custom-input-group .input-group-prepend .input-group-text a:focus {
	color: #777;
	position: relative;
    left: 2px;
    text-decoration: none;
}
.custom-input-group .input-group-append .input-group-text a,
.custom-input-group .input-group-append .input-group-text a:hover,
.custom-input-group .input-group-append .input-group-text a:active,
.custom-input-group .input-group-append .input-group-text a:focus {
	color: #777;
	position: relative;
    left: 2px;
    text-decoration: none;
    top: 1px;
    margin-top: 4px;
}
.btn-checkout {
	background-color: #002f7b;
	color: #fff;
	width: 100%;
    height: 52px;
    font-family: 'Lato',sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
}
.apply-gift-code {
	color: #002f7b;
	text-decoration: none;
	font-family: 'Lato',sans-serif;
}
.apply-gift-code:hover {
	color: #002f7b;
}
.add-extra {
	color: #002f7b;
    font-size: 25px;
    display: inline-block;
    margin-right: 15px;
    position: absolute;
    top: 0;
    left: 0;
}
.add-extra-wrapper {
	position: relative;
	padding-left: 40px;
}
.custom-alert {
	padding-right: 35px;
}
.add-extra-container {
	color: #002f7b;
}
.cart-table tbody tr:last-child td {
	padding-bottom: 18px;
}

/*custom style ends*/